/*====================homepage====================*/
#homepage.home .jumbotron
{
	margin: 3%;
	background-image: url("../pics/channelart.jpg");
	background-position: center;
	background-size: cover;
}

#homepage.home .jumbotron p
{
	color: white
}

#homepage.home .jumbotron h1
{
	color:white;
}

#homepage.home .card-img-top
{
	max-height: 185px;
}

#homepage.home .container-fluid
{
	width: 75%;
}

#homepage
{
	background-color: black;
}

#contact .card
{
	margin: 3%;
}

#contact .card-img-top
{
	max-height: 250px;
}


/*====================projects====================*/



