body
{
	background-color: #f2f2f2;
}

#tutoring.home .jumbotron
{
	margin: 3%;
	background-image: url("../pics/chalkboard.jpg");
	background-size: cover;
}

#tutoring.home p
{
	color: white
}

#tutoring.home h1
{
	color:white
}

.myPanel 
{
	border: 1px solid #727272;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 10px #ccc;
	margin: 3%;
}

.myPanel .myPanelHeader 
{
	background: #cecece;
	border-radius: 5px 5px 0px 0px;
	color: #727272; 
	padding: 10px 20px;
	text-align: center;
}

.myPanel .myPanelBody 
{
	padding: 10px 20px;
}

.brewingSchedule
{
	position: absolute;
	top: 25%;
	left: 50%;
	width: 500px;
	height: 500px;
	margin-top: -250px; /* Half the height */
	margin-left: -250px; /* Half the width */
}