/*====================homepage====================*/
#homepage.home .jumbotron
{
	margin: 3%;
	background-image: url("../pics/helloWorld.png");
	background-position: center;
	background-size: auto 100%;
}

#homepage.home .jumbotron p
{
	color: white
}

#homepage.home .jumbotron h1
{
	color:white;
}

#homepage.home .card-img-top
{
	max-height: 185px;
}

#homepage.home .container-fluid
{
	width: 75%;
}

/*====================brewing====================*/
/* #brewing.home .jumbotron
{
	margin: 3%;
	background-image: url("../pics/craft-beer.jpg");
	background-position: center;
	background-size: cover;
}

#brewing.home .jumbotron p
{
	color: white
}

#brewing.home .jumbotron h1
{
	color:white;
	text-align: center;
} */

/* #brewing.tools .card
{
	margin: 3%;
}

#brewing.tools .container
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 100%;
}

#brewingHistory.home .jumbotron
{
	margin: 3%;
	background-image: url("../pics/beerKegs.jpg");
	background-position: center;
	background-size: cover;
	color: white
}

.brewingSchedule
{
	position: absolute;
} */

/*====================calculus====================*/
#calculus.home .container .card
{
	margin: 1%;
}

#calculus.home .card-body ul 
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#calculus.home .card-title 
{
	text-align: center;
}

#calculus.home .card-body .btn
{
	margin: 1%;
	text-align: left;
}

/*====================tutoring====================*/
#tutoring.home .jumbotron
{
	margin: 3%;
	background-image: url("../pics/chalkboard.jpg");
	background-position: bottom;
	background-size: cover;
}


#tutoring.home p
{
	color: white
}

#tutoring.home h1
{
	color:white
}


/*====================contact====================*/

#contact .card
{
	margin: 3%;
}

#contact .card-img-top
{
	max-height: 250px;
}


/*====================projects====================*/

#beerCaddy.home .container-fluid
{
	width: 85%;
}

/*====================projects====================*/
#marchMadness.home .NW
{
	background-color: #4d94ff;
	border: 1px solid;
}

#marchMadness.home .NE
{
	background-color: #ff8c1a;
	border: 1px solid;
}

#marchMadness.home .SW
{
	background-color: #ff3300;
	border: 1px solid;
}

#marchMadness.home .SE
{
	background-color: #80ffff;
	border: 1px solid;
}

#marchMadness.home .rightBorder
{
	border-right: 1px solid;
}

#marchMadness.home .leftBorder
{
	border-left: 1px solid;
}

#marchMadness.home .bottomBorder
{
	border-bottom: 1px solid;
}

#marchMadness.home .topBorder
{
	border-top: 1px solid;
}

#marchMadness.home .alignMe
{
	text-align: center;
}

#marchMadness.home .championship
{
	text-align: center;
	background-color: rgb(41, 224, 41);
	border: 1px solid;
}

#marchMadness.home .champion
{
	text-align: center;
	background-color: rgb(251, 255, 0);
	border: 1px solid;
}

#marchMadness.home .inputField
{
	background-color: rgb(251, 255, 0);
	text-align: center;
	width: 100%;
}

#marchMadness.home .inputCell
{
	width: 50px;
}

#marchMadness.home .dropDown
{
	margin: 1%;
}

#marchMadness.home .card
{
	text-align: center;
	margin: 1%;
	padding: 1;
}

#marchMadness.home .NW .dropdown
{
	width: 100%;
	background-color:  #4d94ff;
	border: none;
}

#marchMadness.home .NE .dropdown
{
	width: 100%;
	background-color:  #ff8c1a;;
	border: none;
}

#marchMadness.home .SW .dropdown
{
	width: 100%;
	background-color:  #ff3300;
	border: none;
}

#marchMadness.home .SE .dropdown
{
	width: 100%;
	background-color:  #80ffff;
	border: none;
}

#marchMadness.home .championship .dropdown
{
	width: 100%;
	background-color:  rgb(41, 224, 41);;
	border: none;
}

#marchMadness.home .champion .dropdown
{
	width: 100%;
	background-color:  rgb(251, 255, 0);
	border: none;
}

#marchMadness.home .tieLabel
{
	display: none;
}
