/*====================calculus====================*/
#calculus.home 
{
	background-color: #149133;
}

#calculus.home .container .card
{
	margin: 1%;
}

#calculus.home .card-body ul 
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#calculus.home .card-title 
{
	text-align: center;
}

#calculus.home .card-body .btn
{
	margin: 1%;
	text-align: left;
}

/*====================algebra====================*/
#algebra.home 
{
	background-color: #149133;
}

/*====================programming====================*/
#programming.home 
{
	background-color: #149133;
}

/*====================tutoring====================*/
#tutoring.home .jumbotron
{
	margin: 3%;
	background-image: url("../pics/chalkboard.jpg");
	background-position: bottom;
	background-size: cover;
}

#tutoring.home p
{
	color: white
}

#tutoring.home h1
{
	color:white
}

#tutoring.home 
{
	background-color: #149133;
}

#tutoring .card 
{
	background-color: #ceedd5;
}

.card {
	margin: 0 auto; 
	float: none; 
	margin-bottom: 10px;
}